<?xml version="1.0" encoding="UTF-8"?>
<Context crossContext=”true” debug=”5″ path=”/nomeAplicacao” reloadable=”false”>

<Manager pathname=”” />
<Resource
auth="Container"
name=”jdbc/petshop”
driverClassName="org.postgresql.Driver"
initialSize="3"
maxActive="30"
maxIdle="2"
maxWait="30"
type="javax.sql.DataSource"
url="jdbc:postgresql://localhost:5432/petshop"
username="hmjanet"
password="hmjanet"
defaultAutoCommit="false"
removeAbandoned="true"
removeAbandonedTimeout="60"
logAbandoned="true"
closeMethod="close"/>
</Context>