<?xml version="1.0" encoding="UTF-8"?>
<Context crossContext="true" debug="5" path="/petshop" reloadable="false">

<Manager pathname="" />
<Resource
auth="Container"
name="jdbc/petshop"
driverClassName="org.postgresql.Driver"
initialSize="3"
maxActive="30"
maxIdle="2"
maxWait="30"
type="javax.sql.DataSource"
url="jdbc:postgresql://192.168.56.102/petshop"
username="postgres"
password="hmjanet"
defaultAutoCommit="false"
removeAbandoned="true"
removeAbandonedTimeout="60"
logAbandoned="true"
closeMethod="close"/>
</Context>